* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: rgb(23, 23, 23);
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #9f3647;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#9f3647;
}

body {
    background-color: #181419;
    color: whitesmoke;
}

/* ESTILOS DEL HEADER ESCRITORIO */
.header {
    background-color: rgb(255, 28, 77);
    color: white;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;

    .navegacion {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 40px;
        margin-left: 40px;
        padding: 1.5rem 0;

        .anclaLogo {
            text-decoration: none;
            color: white;
            font-weight: 700;
            font-size: 1.2rem 0;
        }

        .listaNav {
            list-style: none;
            display: flex;
            align-items: center;

            .listaItem {
                margin-right: 20px;

                .linkNav {
                    color: white;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0.5rem 1rem;

                    /* Agregar efecto de boton presionado */
                    transition: transform 0, 3s, box-shadow 0, 3s;

                    &:hover {
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgb(255, 255, 255, 0.3);
                        border-radius: 5px;
                    }
                }

                /* boton iniciar sesion */

                .linkNav.iniciarSesion {
                    background-color: #181419;
                    color: white;
                    border-radius: 5px;

                    &:hover {
                        background-color: #9f3647;
                        transform: scale(0, 95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }
}

/*ESTILOS PARA HEADER MOBILE Y TABLET */
@media (max-width: 768px) {

    .header {
        height: initial;

        .navegacion {
            margin-left: 10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;

            .anclaLogo {
                font-weight: 700;
                font-size: 1, 2rem;
            }

            .listaNav {
                padding: initial;

                .listaItem {
                    .linkNav {
                        font-weight: 400;
                        font-size: 1rem;
                        margin-right: initial;
                        padding: 0, 2rem;
                    }
                }
            }
        }
    }
}
/* ESTILOS DEL MAIN ESCRITORIO */
.main {
    .sectionPrincipal {
        color: white;
        background: linear-gradient(to right top, #0000008a, #0000008a), url(../img/banner-bg.jpg);
        background-size: cover;
        background-position: center;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .tituloPrincipal {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        .subtituloPrincipal {
            font-size: 2.2rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        .botonRegistrarse {
            background-color: #9f3647;
            color: #ffffff;
            padding: 1rem 2rem;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;

            transition: transform 0.3s, box-shadow 0.3s;

            &:hover {
                transform: scale(0.95);
                box-shadow: 0 0 10px rgb(255, 255, 255, 0.3);
            }
        }
    }

    /* BUSCADOR PRINCIPAL */
    .buscadorPrincipal {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tituloBuscador {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        .buscadorPeliculas {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5rem;

            .inputBuscador {
                height: 50px;
                width: 500px;
                margin: 20px 10px;
                border: 2px solid white;
                border-radius: 60px;
                padding: 0px 20px;
                font-size: 1.2rem;
                outline: none;
            }

            .botonBuscador {
                background-color: #9f3647;
                color: whitesmoke;
                display: inline-block;
                height: 50px;
                margin: 20px 10px;
                padding: 0 20px;
                border-radius: 60px;
                border: 2px solid white;
                font-size: 1.2rem;
                font-weight: 700;
                text-align: center;

                transition: transform 0.3s, box-shadow 0.3s;

                /* Agregar efecto de boton presionado */
                &:hover {
                    transform: scale(0.95);
                    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
                    border-radius: 60px;
                }
            }
        }
    }

    /* SECCION TENDENCIAS */
    .peliculasTendencia {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;

        .tituloTendencias {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }

        .peliculas {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 60px;

            a {
                text-decoration: none;
                color: whitesmoke;

                .pelicula {
                    width: 200px;
                    height: 300px;
                    position: relative;
                    overflow: hidden;
                    border-radius: 20px;
                    transition: all 0.5s;

                    .imgTendencia {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 20px;
                    }

                    .tituloPelicula {
                        z-index: 2;
                        position: absolute;
                        text-align: center;
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        transform: translateY(-50%) translateX(-50%);

                        h4 {
                            opacity: 0;
                            font-size: 2rem;
                            letter-spacing: 0.2rem;
                            transition: opacity 0.4s ease-in-out;
                        }
                    }

                    &:hover {
                        box-shadow: 0 0 30px #9f3648cd;
                        transform: scale(0.9);
                    }

                    &:hover .tituloPelicula {
                        height: 100%;
                        backdrop-filter: blur(10px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &:hover h4 {
                        opacity: 1;
                    }
                }
            }
        }

        .botones {
            display: flex;
            justify-content: space-evenly;
            margin-top: 4rem;
            margin-bottom: 2rem;
        }

        .boton {
            border: 1px solid white;
            background-color: #9f3647;
            color: whitesmoke;
            padding: 1.2rem 1.2rem;
            border-radius: 8px;
            box-sizing: content-box;
            font-size: 1rem;

            transition: transform 0.3s, box-shadow 0.3s;

            &:hover {
                transform: scale(0.95);
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
            }
        }
    }
    /* SECCION ACLAMADAS */
    .peliculasAclamadas{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 40px;
        .tituloAclamadas{
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 40px;
        }
        .aclamadas{
            overflow-x: scroll;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            padding-bottom: 40px;
            .peliculaItem{
                border-radius: 20px;
                width: 170px;
                min-width: 170px;
                font-size: 20px;
                margin-left: 20px;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .imgAclamada{
                    border-radius: 5%;
                    width: 95%;
                    height: 95%;
                    object-fit: cover;
                }
            }
        }
    }
}

/* ESTILOS DEL MAIN MOBILE Y TABLET */

@media (max-width: 768px) {
    .main {

        /* BUSCADOR PRINCIPAL */
        .buscadorPrincipal {
            height: 50vh;

            .tituloBuscador {
                font-size: 1.8rem;
            }

            .buscadorPeliculas {
                .inputBuscador {
                    font-size: 1rem;
                    height: 40px;
                    width: 300px;
                }

                .botonBuscador {
                    height: 40px;
                    padding: 0 15px;
                    font-size: 1rem;
                }
            }
        }

        /* SECCION TENDENCIAS */
        .peliculasTendencia {
            width: 95%;

            .tituloTendencias {
                font-size: 1.8rem;
            }

            .peliculas {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                a {
                    .pelicula {
                        height: 500px;
                        width: 100%;

                        .tituloPelicula {
                            h4 {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }

            .boton {
                padding: 0.7rem 0.7rem;
                font: 0.7rem;
            }
        }
        .peliculasAclamadas{
            .tituloAclamadas{
                font-size: 1.8rem;
            }
            .aclamadas{
                .peliculaItem{
                    width: 150px;
                    min-width: 150px;
                    font-size: 15px;
                    .imgAclamada{
                        width: 90%;
                        height: 90%;
                    }
                }
            }
        }
    }

}

.footer {
    background-color: #9f3647;
    color: #ffffff;
    bottom: 0;
    z-index: 10;

    .navegacion {
        display: flex;
        align-items: center;
        margin-left: 20%;
        margin-right: 10%;
        padding: 1.5rem 0;

        .listaFooter {
            list-style: none;
            display: flex;
            align-items: center;

            .listaItem {
                margin-right: 20%;
                justify-content: space-between;

                .linkNavfooter {
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1.25rem;
                    padding: 1.5 1rem;
                }
            }
        }
    }

    .flechaArriba {
        position: fixed;
        bottom: 20px;
        right: 20px;
        color: white;
        cursor: pointer;
    }
}

/* ESTILOS PARA FOOTER MOBILE Y TABLET */
@media (max-width: 768px) {
    .footer {
        height: initial;

        .navegacion {
            margin-left: 10px;
            margin-right: 10px;
            justify-content: center;

            .listaFooter {
                padding: initial;
                flex-direction: column;
                row-gap: 5px;

                .listaItem {

                    .linkNavfooter {
                        font-weight: 600;
                        font-size: 1rem;
                        margin-right: initial;
                    }
                }
            }
        }
    }
}

/* ESTILOS ESCRITORIO FORM LOGIN */
.bodyRegistrarse{
    height: 100vh;
    background:linear-gradient(to right top, #24242473,#24242473),url("../img/bg-register.jpg");
    background-size: cover;
    background-position: center;
    .headerRegistrarse{
        color:#ffffff;
        height: 8vh;
        padding:30px;
        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
             /*animacion hover*/
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;
            }
        }
    }
    .main{
         /*seccion de registrarse.html*/
        .seccionRegistrarse{
            background-color:rgb(42, 42, 42);
            width: 30%;
            margin:0 auto;
            border-radius: 5px;
            padding: 40px 20px;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-size:1.2rem;
            .tituloRegistrarse{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 20px;
            }
            /*seleccionar todos los input menos el checkbox*/
            form{
                width: 100%;
                padding:40px;
                input:not(.check,.boton),select{
                    width: 100%;
                    margin-bottom: 10px;
                    height: 40px;
                    padding: 0px 20px;
                    font-size: 1.2rem;
                    border-radius: 20px;
                    border: 2px solid #9f3647;
                    background-color: #333333;
                    outline: none;
                    color:rgb(255, 255, 255);
                }
                .error input:not(.check,.boton),.error select{
                    border: 3px solid #ff0000;
                }
                .error-text{
                    color: #ff0000;
                    font-size: 0.8rem;
                    margin-top:0px;
                    margin-bottom: 10px;
                }
              
                .terminos{
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .textoCheck{
                        margin-left: 10px;
                    }
                }
                .boton{
                    width: 87%;
                    box-sizing: content-box;
                    background-color:#9f3647;
                    border: 2px solid #9f3647;
                    color: #ffffff;
                    padding: 1rem 1rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 500;
                   
                }
                .ayuda{
                    margin-top:40px;
                    font-size: 1rem;
                    text-decoration: none;
                    color: #787878;
                    font-weight:400;
                   
                }
            }
        }
    }
}



/* ESTILOS PARA MOBILE Y TABLE FORM LOGIN */
@media (max-width: 1200px) {
    .bodyRegistrarse{
        .headerRegistrarse{
            padding:20px;
            .anclaLogo{
                font-size: 1rem;
            }
        }
        .main{
            .seccionRegistrarse{
                width: 95%;
                padding: 10px 10px;
                .tituloRegistrarse{
                    font-size: 2rem;
                }
                form{
                    width: 100%;
                    text-align: center;
               
                    input:not(.check,.boton),select{
                        width: 80%;
                        height: 35px;
                        font-size: 1rem;
                    }
                    .terminos{
                        width: 80%;
                        margin:0 auto;
                        font-size: 0.7rem;
                    }
                    .boton{
                        margin-top: 20px;
                        margin-bottom: 20px;
                        width: 70%;
                        padding: 0.8rem 0.8rem;
                        font-size: 0.8rem;
                    }
                    .ayuda{
                        text-align: left;
                        font-size: 0.8rem;
                    }
                }          
            }
        }
    }
}